.vscode/settings.json
imgs/competencies_core.png
imgs/mask-soft.png
imgs/mask-soft.xcf
imgs/mask1.png
imgs/mask2.png
imgs/skillcloud_core.png
imgs/skillcloud_eye.png
imgs/soft_skills.png
.vscode/keybindings.json
.vscode/launch.json
